.main{ 
    width:100%; 
    height:15vh;
    position: relative;
    
    background-color: transparent;
    display: flex;
    justify-content:end;
    align-items:center;
    
}

.ul{ 
    width:60%;
    display: flex;
    justify-content: space-around;
    color:white;
}

.ul_updated{ 
    width:60%;
    display: flex;
    justify-content: space-around;
    color:black;
}

.li{
    list-style:none;
    color:inherit;
    cursor:pointer;
    display: inline-block;
    position: relative;

}

.li:hover:before{
    content: "~~~~~~~~~~~~";
    
    font-family: Times New Roman, Serif;
    color: inherit;
    font-size: 0.9em;
    font-weight: 700;
    width: 100%;
    width: 100%;
    position: absolute;
    top: 12px;
    left: -1px;
    overflow: hidden;
    animation: underline;
    animation-duration: 0.4s;
}

.sun{ 
    position: absolute;
    width:15%;
    background-color: transparent;
   
    
}

@keyframes underline{ 
    0%{ 
        font-size: 0.9em;
        font-weight: 700;
        width: 0%;
       

    }
    50%{
        font-size: 0.9em;
        font-weight: 700;
        width: 50%;

    }
    100%{
        font-size: 0.9em;
        font-weight: 700;
        width: 100%;

    }
}

@media only screen and (max-width:799px){
    .main{ 
        height:10vh;
        position: fixed;
        z-index:999;
        bottom:0;
        width:85%;
        
        
    }
    .ul{
        justify-content: space-between;
        width:100%;
        
    }
    .ul_updated{
        justify-content: space-between;
        width:100%;
        
    }
}

