.App{
    width:100%;
    top:0;
    left:0;
    position:absolute;
    
    
}

body{ 
    font-family: 'League Gothic', sans-serif;
    z-index: 1;
}
html{
    scroll-behavior: smooth;
}

.index{
    position:relative;
    z-index:1;
}
@media only screen and (max-width:800px) {
    .App{ 
        width:100%;
    }
    
}